* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  background-color: #222222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

h2.show-city {
  text-transform: uppercase;
}

.card {
  background-color: #000000d0;
  color: #ffffff;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  width: 100%;
}

.weather {
  margin-top: 20px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 2px;
  width: 5em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 44px;
  transition: .2s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
  color: #f8f8f8;
}

h1.show-temp {
  margin: 0;
  margin-bottom: 0.4em;
}

input.search-city-input {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border: 18px;
  font-family: inherit;
  font-size: 105%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #f8f8f8;
  width: calc(100% - 100px);
}

.flex {
  display: flex;
  align-items: center;
}

.show-description {
  text-transform: uppercase;
  margin-left: 8px;
}
